/old_ps_files_gitignored
py/MicrocodeControlWordROMGenerator/.idea/vcs.xml
py/MicrocodeControlWordROMGenerator/.idea/modules.xml
/py/MicrocodeControlWordROMGenerator/.idea
/py/ControlWordROMParser/.idea
